# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc

# Model files
*.pkl
*.joblib

# Numpy
*.npy

# CatBoost
catboost_info/


.tools/
*.txt
.idea/

frontend/node_modules/
backend/node_modules/

__pycache__/
*.pyc
.env
